.info-map {
    position: absolute;
    background-color: #000;
    top: 250px;
    right: 12%;
    z-index: 9999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: #ffd700;
    }
}

.location-img {
    .location {
        z-index: -1;
        position: absolute;
        right: -25%;
        width: 75%;
        top: -10%;
        height: 120%;
    }
}

@media screen and (max-width: 1200px) {
    .contact-page {
        .text-zone {
            h1 {
                font-size: 45px;
                margin-left: 20px;
                margin-top: 20px; 
            }
        }
    }

    .location-img {
        width: 450px;
        height: 200px;
        
        .location {
            z-index: 3;
            position: initial;
            margin-left: 6%;
        }
    }

    .info-map {
        display: none;
    }
}