.info-map {
    position: absolute;
    background-color: #000;
    top: 50px;
    right: 10%;
    z-index: 9999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: #ffd700;
    }
}

.location-img {
    .location {
        z-index: -1;
        position: absolute;
        right: -25%;
        width: 75%;
        top: -10%;
        height: 120%;
    }
}