.photography-page {
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 150px);
  position: initial;
  height: 100%;
  overflow: auto;

  h1.page-title {
    margin-left: 100px;
    margin-top: 100px;
  }

  .collections-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .collection-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    height: 150px;
    padding: 20px;
    background-color: rgba(26, 26, 26, 0.9);
    border-radius: 12px;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      background-color: rgba(26, 26, 26, 0.6);
      transform: scale(1.02);
    }
    .collection-name {
      z-index: 10;
    }

    .thumbnail-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 100px; // Adds consistent spacing between images
    }

    .thumbnail {
      width: 200px;
      height: 150px;
      border-radius: 8px;
      object-fit: cover;
      position: relative;
      transform: translateX(0); // Default position
      opacity: 0.8; // Default opacity
      transition: all 0.5s ease-in-out;
      z-index: 1;

      &:nth-child(1) {

        z-index: 5;
      }

      &:nth-child(2) {
        z-index: 4;
      }

      &:nth-child(3) {
        z-index: 3;
      }

      &:nth-child(4) {
        z-index: 2;
      }

      &:nth-child(5) {
        z-index: 1;
      }
    }

    // Hover effect: Spread out images
    &:hover .thumbnail {
      opacity: 1; // Fully opaque on hover
    }

    .overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, rgba(114, 106, 220, 0.6), rgba(0, 0, 0, 0.8));
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }

    .collection-name {
      color: white;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    }

    &:hover .overlay {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1200px) {
  .photography-page {
    padding: 20px;

    h1.page-title {
      font-size: 36px;
    }

    .collections-container {
      gap: 20px;
    }

    .collection-card {
      height: 120px;

      .thumbnail-container .thumbnail {
        width: 60px;
        height: 60px;
      }

      .collection-name {
        font-size: 18px;
      }
    }
  }
}